/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: white;
}
h1 {
  font-weight: bold;
  color: purple;
}
p {
  color: gray;
}
/* On lines 11 and 13, I added an opening and closing bracket around the color. */